{% extends "base.html" %}

{% block title %}О нас | Галерея компьютерных мастеров{% endblock %}

{% block content %}
<a class="back-link" href="/">&larr; Назад к списку мастеров</a>
<h1>О нас</h1>
<p>Мы - команда профессионалов в области компьютерных мастеров.</p>
<p>Мы предлагаем широкий спектр услуг по ремонту и обслуживанию компьютеров, а также по настройке и оптимизации систем.</p>
<p>Наши мастера имеют большой опыт в ремонте и обслуживании компьютеров, а также в настройке и оптимизации систем.</p>
{% endblock %}