{% extends "base.html" %}

{% block title %}Контакты | Галерея компьютерных мастеров{% endblock %}

{% block content %}
<a class="back-link" href="/">&larr; Назад к списку мастеров</a>
<h1>Контакты</h1>
<p>Свяжитесь с нами по телефону: +7 (999) 999-99-99</p>
<p>Свяжитесь с нами по email: <a href="mailto:info@example.com">info@example.com</a></p>
<p>Свяжитесь с нами по адресу: г. Москва, ул. Ленина, д. 1</p>
<p>Свяжитесь с нами по telegram: <a href="https://t.me/your_telegram_username">@your_telegram_username</a></p>
{% endblock %}

